<?xml version="1.0" encoding="utf-8"?>
<!--SPDX-License-Identifier: Apache-2.0-->
<robot name="mikrik"
	xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:property name="clearance" value="0.018" />
	<xacro:property name="wheel_radius" value="0.0325"/>
	<xacro:property name="wheel_separation" value="0.128"/>
	<xacro:property name="wheel_width" value="0.026"/>
	<xacro:property name="PI" value="3.1415926"/>
	<!-- Matherials -->
	<xacro:include filename="$(find mikrik_description)/urdf/mikrik_materials.xacro" />
	<!-- mikrik_base -->
	<link name="mikrik_base">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<cylinder length="0.0015" radius="0.085"/>
			</geometry>
			<material name="White" />
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<cylinder length="0.001" radius="0.085"/>
			</geometry>
		</collision>
	</link>
	<!-- base_link -->
	<link name="base_link">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<sphere radius="0.001" />
			</geometry>
		</visual>
	</link>
	<joint name="base_link_to_mikrik_base" type="fixed">
		<origin xyz="0 0 0" rpy="0 0 0" />
		<parent link="base_link" />
		<child link="mikrik_base" />
	</joint>
	<!-- base_footprint -->
	<link name="base_footprint">
	<visual>
		<origin xyz="0 0 0" rpy="0 0 0" />
		<geometry>
			<cylinder length="0.001" radius="0.085" />
		</geometry>
		<material name="Blue" />
	</visual>
	</link>
	<joint name="base_footprint_to_base_link" type="fixed">
		<origin xyz="0 0 ${clearance}" rpy="0 0 0" />
		<parent link="base_footprint" />
		<child link="base_link" />
	</joint>
    <!-- Wheels -->
	<xacro:include filename="$(find mikrik_description)/urdf/mikrik_left_wheel.xacro" />
	<xacro:include filename="$(find mikrik_description)/urdf/mikrik_right_wheel.xacro" />
</robot>
